@media screen and (max-width:576px) {
    body{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .cup{
        width: 134px;
        height: 122px;
        box-shadow: 48px 14px 32px 40px rgba(235, 231, 231, 0.489) inset;
    }
    .plate{
        width: 138%;
        left: -25px;
    }
    .circle{
        top: -11px;
    }
    .filled{
        top: 7px;
    }
    .vapors span{
        margin: 0px 2px;
        left: 0px;
        padding: 12px 1px;
    }
    .handle{
        right: -31px;
        width: 160%;
        height: 101%;
        top: -13px;
    }
    .quote{
        font-size: 25px;
        width: 50px;
    }
}

